<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/be7de2e99b.js" crossorigin="anonymous"></script>
<style media="screen">
  #footer{
    padding: 4% 15%;
  }

  .social-icon{
    margin: 20px 10px;
  }

</style>
  </head>
  <body>
    <div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">&copy; 2022 DocOnline</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    </a>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <a href="https://twitter.com/home?lang=en"><i class="social-icon fa-brands fa-twitter"></i></a>
      <a href="https://www.facebook.com/"><i class="social-icon fa-brands fa-facebook"></i></a>
      <a href="https://www.instagram.com/"><i class="social-icon fa-brands fa-instagram"></i></a>
      <a href="https://www.gmail.com/"><i class="social-icon fa-solid fa-envelope"></i></a>

    </ul>
  </footer>
  </div
  </body>
</html>
