<%- include('partials/header') %>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <br>
    <br>
    <br>
    <br>
    <h1>About Us!</h1>
    <h2 style="text-align: center;">Welcome To <span id="W_Name1">docOnline</span></h2>
  <br>

  <div class="card mb-4">
    <div class="card-body">

    <p class="aboutFont" >The proposed project is an appointment booking web portal that provides patients or any user an easy way of booking a doctor’s appointment online.
</p>

<p class="aboutFont" >
	This is a web based application that overcomes the issue of managing and booking appointments according to user’s choice or demands. The task sometimes becomes very tedious for the compounder or doctor himself in manually allotting appointments for the users as per their availability.
</p>

<p class="aboutFont" >
We are trying to scale a business that is solving one of the most fundamental issues in healthcare today – Access Anytime Anywhere.</p>
<p style="font-weight: bold; text-align: center;">Thanks For Visiting Our Site<br><br>
<span style="color: blue; font-size: 16px; font-weight: bold; text-align: center;">Have a nice day!</span></p>
</div>
</div>
<br>
  <%- include('partials/footer') %>
  </body>
</html>
