
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.104.2">
    <title>Dashboard Template · Bootstrap v5.2</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/dashboard/">

    <!-- Bootstap CDN -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">





<link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/5.2/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.2/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.2/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
<link rel="icon" href="/docs/5.2/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#712cf9">

<link rel="stylesheet" href="/css/patient.css">




  </head>
  <body>

      <!-- Navbar -->

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/">DocOnline</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="/">Sign out</a>
    </div>
  </div>
</header>


      <!-- Sidebar -->


<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a onclick="javascript:appointmentLinkButtonClick();" id="appointmentLink" class="nav-link" aria-current="page" href="#">
              <span data-feather="home" class="align-text-bottom"></span>
              Book Appointment
            </a>
          </li>
          <li class="nav-item">
            <a onclick="javascript:statusLinkButtonClick();" id="statusLink" class="nav-link" href="#">
              <span data-feather="file" class="align-text-bottom"></span>
              Appointment Status
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="javascript:prescriptionLinkButtonClick();" id="prescriptionLink" href="#">
              <span data-feather="bar-chart-2" class="align-text-bottom"></span>
              Prescription View
            </a>
          </li>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
          <span>History</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle" class="align-text-bottom"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" onclick="javascript:previousLinkButtonClick();" id="previousLink" href="#">
              <span data-feather="file-text" class="align-text-bottom"></span>
            ALl  Previous Appointments
            </a>
          </li>
        </ul>
      </div>
    </nav>






    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <div id="bookAppointment" class="">

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Book An Appointment</h1>
      </div>
<br>



                          <form action="/patient-dashboard" method="post">
                            <div class="mb-4">
                              <label for="name" class="form-label">Name</label>
                              <input type="text" name="fullName" class="form-control" >
                            </div>
                            <div class="mb-4">
                              <label for="date" class="form-label">Date</label>
                              <input type="date" name="date" class="form-control">
                            </div>
                            <div class="mb-4">
                              <label for="time" class="form-label">Time</label>
                              <select name="time" id="TIME"  class="form-control">
                              <option value="time">SELECT</option>
                              <option value="time">09:00AM - 09:30AM</option>
                              <option value="time">10:00AM - 10:30AM</option>
                              <option value="time">11:00AM - 11:30AM</option>
                              <option value="time">02:00PM - 02:30PM</option>
                              <option value="time">03:00PM - 03:30PM</option>
                              <option value="time">04:00PM - 04:30PM</option>
                              </select>
                            </div>
                            <div class="mb-4">
                              <label for="age" class="form-label">Age</label>
                              <input type="number" name="age" class="form-control">
                            </div>
                            <div class="mb-4">
                              <label for="gender" class="form-label">Gender</label>

                              <select name="gender" id="gender"  class="form-control">
                              <option value="time">SELECT</option>
                              <option value="Patient">Male</option>
                              <option value="Doctor">Female</option>
                              </select>
                            </div>
                            <div class="mb-4">
                              <label for="exampleInputEmail1" class="form-label">Email address</label>
                              <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                            <div class="mb-4">
                              <label for="name" class="form-label">Symptom</label>
                              <input type="text" name="symptom" class="form-control" >
                            </div>
                            <button type="submit" class="booking-btn submitBtn btn btn-primary">Submit</button>
                          </form>
                  </div>



                                <!-- Appointment Status -->






                            <div class="" id="appointmentStatus">


                        <div class="" id="currentt-status">

                        <h1  class="current-class">Appointment Status</h1>

                        <div >
                        <h2 style="margin-top: 12%"class="current-class">There is no appointment! </h2>
                          <h2 style="margin-top: 1%" class="current-class">Please book an appointment first.</h2>
                        </div>

                      </div>


      <div class="" id="delete-app">


                            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                              <h1 class="h2">Cancel Appointment</h1>
                            </div>



                          <div class="card mb-4">
                          <div class="card-body">
                          <div class="row">
                          <div class="col-sm-3">
                            <p class="mb-0">Full Name</p>
                          </div>
                          <div class="col-sm-9">
                            <p class="text-muted mb-0">Nikhil Kumar</p>
                          </div>
                          </div>
                          <hr>
                          <div class="row">
                          <div class="col-sm-3">
                            <p class="mb-0">Email</p>
                          </div>
                          <div class="col-sm-9">
                            <p class="text-muted mb-0">nk@gmail.com</p>
                          </div>
                          </div>
                          <hr>
                          <div class="row">
                          <div class="col-sm-3">
                            <p class="mb-0">Date</p>
                          </div>
                          <div class="col-sm-9">
                            <p class="text-muted mb-0">13/11/2022</p>
                          </div>
                          </div>
                          <hr>
                          <div class="row">
                          <div class="col-sm-3">
                            <p class="mb-0">Time</p>
                          </div>
                          <div class="col-sm-9">
                            <p class="text-muted mb-0">10:00AM</p>
                          </div>
                          </div>
                          </div>
                          </div>


                            <section class="text-gray-600 body-font">
                              <div class="container px-5 py-24 mx-auto">
                                <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
                                  <h2 class="">Do you want to cancel appointment?</h2>
                                  <button  class="cancel-appointment btn btn-warning">Cancel Appointment</button>
                                </div>
                              </div>
                            </section>


        </div>


                              <div class="" id="Cancelled">
                                <section class="text-gray-600 body-font">
                                  <div class="container px-5 py-24 mx-auto">
                                    <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
                                      <h1 class="">Appointment Cancelled !</h1>
                                    </div>
                                  </div>
                                </section>
                              </div>


                              </div>







                <!-- Prescription View -->

            <div class="" id="Prescription">

              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Prescription View</h1>
              </div>



              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Full Name</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">Nikhil Kumar</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">nk@gmail.com</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Date</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">13/11/2001</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Time</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">10:00AM</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Next Date Suggested</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">20/11/2022</p>
                    </div>
                  </div>
                </div>
              </div>




              <div class="">
                  <img class="Prescription" src="/images/prescription.png" alt="">
              </div>


            </div>




                          <!-- Previuos Appointment -->

                          <div class="" id="previousApp">


                            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                              <h1 class="h2">All Previous Appointments</h1>
                            </div>

                          <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">S.No</th>
                              <th scope="col">Name</th>
                              <th scope="col">Date</th>
                              <th scope="col">Time</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>Nikhil</td>
                              <td>24/10/2022</td>
                              <td>11:00AM</td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td>Nikhil</td>
                              <td>01/11/2022</td>
                              <td>11:00AM</td>
                            </tr>
                          </tbody>
                          </table>







                          </div>

    </main>





  </div>
</div>


    <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="dashboard.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- javascript -->
    <script src="javascript/patient.js" charset="utf-8"></script>


        </body>
</html>
